name: HA Governance
version: "0.1.21"
slug: ha_governance
description: Deterministic Policy Governor for Home Assistant
startup: services
boot: auto

arch:
  - amd64
  - aarch64
  - armv7
  - armhf
  - i386

homeassistant_api: true
hassio_api: true
host_network: true

options:
  ha_token: ""

schema:
  ha_token: str

